@import url("../node_modules/bootstrap/scss/bootstrap.scss");
.container-fluid {
  padding: 0px;
}

.bg-custom {
  background-color: #336;
}

.bg-custom .nav-link, .bg-custom .navbar-brand {
  color: #fff !important;
}

.bg-custom .navbar-toggler-icon {
  filter: invert(200%);
}

.bg-custom .navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem gray;
}

.bg-custom .dropdown > a {
  color: #FFF;
}

.bg-custom .dropdown .dropdown-menu .nav-link {
  color: #333 !important;
}

.card-img {
  max-height: 150px;
  max-width: 200px;
  margin: 0px auto;
}

.toast {
  top: 5%;
  margin-left: auto;
  position: absolute;
  z-index: 400;
}

.item-description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #336;
  color: #FFF;
  width: 100%;
}
