@import url("../node_modules/bootstrap/scss/bootstrap.scss");

$blue: #336;
$blue-lighten: #336;


.container-fluid{
    padding: 0px;
}

.bg-custom{
    background-color: $blue-lighten;
    .nav-link, .navbar-brand{
        color: #fff !important;
        
    }
    .navbar-toggler-icon{
        filter: invert(200%);
    }
    .navbar-toggler:focus{ 
        box-shadow: 0 0 0 0.25rem gray;
    }
    .dropdown{
        &>a{
            color:#FFF;
        }
        .dropdown-menu{
            .nav-link{
                color: #333 !important;
            }  
        }
    }
}

footer{
    position: fixed;
    bottom: 0px;
    background-color: $blue;
    color: #FFF;
    width: 100%;
}